@font-face {
	font-family: 'life_is_goofybold';
	src: url('../fonts/life_is_goofy-webfont.eot');
	src: url('../fonts/life_is_goofy-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/life_is_goofy-webfont.woff2') format('woff2'), url('../fonts/life_is_goofy-webfont.woff') format('woff'), url('../fonts/life_is_goofy-webfont.ttf') format('truetype'), url('../fonts/life_is_goofy-webfont.svg#life_is_goofybold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'quicksandregular';
	src: url('../fonts/quicksand-regular-webfont.eot');
	src: url('../fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/quicksand-regular-webfont.woff2') format('woff2'), url('../fonts/quicksand-regular-webfont.woff') format('woff'), url('../fonts/quicksand-regular-webfont.ttf') format('truetype'), url('../fonts/quicksand-regular-webfont.svg#quicksandregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.body_container:not(html) {
	-webkit-transform: translate3d(0, 0, 0);

	/*-webkit-transform-style: preserve-3d;*/
}

 input, textarea, select, button {
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	backface-visibility: visible !important;
	-webkit-backface-visibility: visible !important;
}

html {
	margin: 0 !important;
	padding: 0;
}

.Open_popup {
	display: none;
}

.loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 0;
	z-index: 99999999999999999;
	background: url("../images/section_background.jpg");
	background-repeat: no-repeat;
}

.potrait_loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 0;
	z-index: 9999999999999;
	background: url("../images/section_background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: none;
}

.warning_text {
	position: absolute;
	width: 95%;
	top: 50%;
	left: 3%;
	font-size: 7%;
	text-align: center;
	font-family: 'life_is_goofybold';
	color: #4a5158;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: url('../images/section_background.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	backface-visibility: visible ;
	-webkit-backface-visibility: visible ;
	-webkit-user-select: none;  /* Chrome all / Safari all */
 	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	-o-user-select: none;
	user-select: none;
}

img {
	width: 100%;
	border: none;
	user-drag: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-ms-user-drag: none;
	-o-user-drag: none;
}

.clear {
	clear: both;
}
/**/
.loader_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../images/section_background.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	z-index: 99999999;
}

.loader_logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../images/home_logo.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 6%;
}

.loader_text {
	position: absolute;
	bottom: 12%;
	left: 46.5%;
	width: 30%;
	height: 10%;
	font-size: 3%;
	font-family: 'life_is_goofybold';
	color: #666;
}
.company_logo_container {
	position: fixed;
	bottom: 1%;
	left: 1%;
	width: 10%;
	z-index: 999;
	font-size: 1.3%;
	opacity:1;
	font-family: 'life_is_goofybold';
}
.company_logo_container_right {
	position: fixed;
	bottom: 1%;
	right: -1%;
	width: 10%;
	z-index: 999;
	font-size: 1.3%;
 	display:none;
	font-family: 'life_is_goofybold';

}
.company_logo {
	position: relative;
    float: left;
    width: 20%;
    margin: 0 0 0 5%;
    cursor: pointer;
}
.powered_text{
	    position: relative;
    float: left;
    width: auto;
    color: #fff;

    margin: 7% 0 0 0;
}

/**/
.family_background{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image: url('../images/family-dental_bg.png');
 	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity:0;
}
.body_container {
	position: relative;
	margin: 0;
	padding: 0;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	vertical-align: top;
	font-size: 1%;
	display: none;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	backface-visibility: hidden ;
	-webkit-backface-visibility: hidden ;
}

.vertical_block_container {
	position: relative;
	width: 100%;
	margin: 0 0% 0 0;
	padding: 0;
	vertical-align: top;
	display: inline-block;
	backface-visibility: visible ;
	-webkit-backface-visibility: visible ;
    -webkit-transform: translate3d(0, 0, 0);
}

/*Menu*/
.menu_container {
	position: fixed;
	top: 0;
	left: 0;
	width: 7%;
	height: 100%;
	font-size: 1%;
	z-index: 0;
}

.menu_content {
	position: relative;
	float: left;
	width: 100%;
	background-color: transparent;
	display: none;
}

.menubar_content {
	position: relative;
	float: left;
	left: -85%;
	width: 80%;
	background: #64b3ba;
	height: 100%;
}

.menubar {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
}

.menu {
	position: relative;
	float: left;
	width: 100%;
	height: 10.5%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 45%;
	cursor: pointer;
}

.menu:first-child {
	height: 5%;
}

.menu_text {
	position: absolute;
	bottom: 0%;
	width: 100%;
	font-size: 75%;
	color: #000;
	text-align: center;
	font-weight: bold;
	font-family: 'quicksandregular';
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.homemenu_content {
	background-image: url('../images/home_menu.png');
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.aboutmenu_content {
	background-image: url('../images/about_menu.png');
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.managementmenu_content {
	background-image: url('../images/management_menu.png');
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.gallerymenu_content {
	background-image: url('../images/gallery_menu.png');
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.facilitymenu_content {
	background-image: url('../images/facility_menu.png');
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.faqmenu_content {
	background-image: url('../images/faq_menu.png');
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.emergencymenu_content {
	background-image: url('../images/emergency_menu.png');
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.feedbackmenu_content {
	background-image: url('../images/feedback_menu.png');
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.contactmenu_content {
	background-image: url('../images/contact_menu.png');
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.homemenu_content:hover {
	background-image: url('../images/home_menu_hover.png');
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.aboutmenu_content:hover {
	background-image: url('../images/about_menu_hover.png');
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.managementmenu_content:hover {
	background-image: url('../images/management_menu_hover.png');
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.gallerymenu_content:hover {
	background-image: url('../images/gallery_menu_hover.png');
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.facilitymenu_content:hover {
	background-image: url('../images/facility_menu_hover.png');
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.faqmenu_content:hover {
	background-image: url('../images/faq_menu_hover.png');
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.emergencymenu_content:hover {
	background-image: url('../images/emergency_menu_hover.png');
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.feedbackmenu_content:hover {
	background-image: url('../images/feedback_menu_hover.png');
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.contactmenu_content:hover {
	background-image: url('../images/contact_menu_hover.png');
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.homemenu_content:hover .menu_text, .aboutmenu_content:hover .menu_text, .managementmenu_content:hover .menu_text, .gallerymenu_content:hover .menu_text, .facilitymenu_content:hover .menu_text, .faqmenu_content:hover .menu_text, .emergencymenu_content:hover .menu_text, .feedbackmenu_content:hover .menu_text, .contactmenu_content:hover .menu_text {
	color: #fff;
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.menu_active .menu_text {
	color: #fff;
}

.homemenu_content.menu_active {
	background-image: url('../images/home_menu_hover.png');
}

.aboutmenu_content.menu_active {
	background-image: url('../images/about_menu_hover.png');
}

.managementmenu_content.menu_active {
	background-image: url('../images/management_menu_hover.png');
}

.gallerymenu_content.menu_active {
	background-image: url('../images/gallery_menu_hover.png');
}

.facilitymenu_content.menu_active {
	background-image: url('../images/facility_menu_hover.png');
}

.faqmenu_content.menu_active {
	background-image: url('../images/faq_menu_hover.png');
}

.emergencymenu_content.menu_active {
	background-image: url('../images/emergency_menu_hover.png');
}

.feedbackmenu_content.menu_active {
	background-image: url('../images/feedback_menu_hover.png');
}

.contactmenu_content.menu_active {
	background-image: url('../images/contact_menu_hover.png');
}

#nav-toggle {
	position: absolute;
	left: 1.3%;
	top: 0%;
	margin: 1.3% 0;
	width: 1%;
	z-index: 99999;
}

#nav-toggle {
	cursor: pointer;
	padding: 10px 35px 16px 0px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 5px;
	width: 100%;
	background: #64b3ba;
	position: absolute;
	display: block;
	content: '';
}

#nav-toggle span:before {
	top: -10px;
}

#nav-toggle span:after {
	bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}

#nav-toggle.activeM span {
	background-color: transparent;
}

#nav-toggle.activeM span:before, #nav-toggle.activeM span:after {
	top: 0;
}

#nav-toggle.activeM span:before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #000;
}

#nav-toggle.activeM span:after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background: #000;
}

/**Home Section****/
.section_container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
		backface-visibility: hidden ;
	-webkit-backface-visibility: hidden ;
}

.section_left {
	position: relative;
	float: left;
	width: 50%;
	height: 100%;
	margin: 0;
	padding: 0;
	z-index: 99;
}

.section_right {
	position: relative;
	float: left;
	width: 50%;
	height: 100%;
	margin: 0;
	padding: 0;
	z-index: 99;
}

.home_light {
	position: absolute;
	width: 32.5%;
	height: 60%;
	top: 8%;
	left: 5%;
	z-index: 9;
}

.home_tree {
	position: absolute;
	width: 59%;
	height: 56%;
	bottom: 13%;
	left: 0;
	z-index: 9;
}

.home_bird {
	position: absolute;
	width: 22%;
	top: 5%;
	left: 52.8%;
	z-index: 9;
}

.home_logo_container {
	position: absolute;
	top: 30%;
	left: 25%;
	width: 45%;
}

.logo_img {
	position: absolute;
	top: 30%;
	left: 27%;
	width: 12%;
	/*opacity:0;*/
}

.logo_tagline {
	position: absolute;
	top: 35%;
	left: 41%;
	width: 17%;
	/*opacity: 0;*/
}

.home_sofa {
	position: absolute;
	bottom: 8%;
	width: 63%;
	left: 12%;
	/*opacity:0; */
}

.home_cupboard {
	position: absolute;
	top: 15%;
	left: 48%;
	width: 35%;
}

.home_drawer {
	position: absolute;
	bottom: 7%;
	right: 0%;
	width: 20%;
}

.home_dustbin {
	position: absolute;
	bottom: 1%;
	right: 1%;
	width: 9%;
}

.home_combine_obj {
	position: absolute;
	bottom: 0%;
	right: 1%;
	width: 97%;
	z-index: 99;
}

.home_pen_stand {
	position: relative;
	float: right;
	width: 5%;
	margin: 2.5% 2% 0 4%;
}

.home_laptop {
	position: relative;
	float: right;
	width: 20%;
	margin: 0.7% 8% 0 7%;
}

.home_phone {
	position: relative;
	float: right;
	width: 12%;
	margin: 7.7% 6% 0 0;
}

.home_table {
	position: relative;
	width: 65%;
	float: right;
}

.home_lady {
	position: absolute;
	bottom: 24%;
	right: 24%;
	width: 24%;
	/*opacity:0;*/
}

.home_navigation {
	position: absolute;
	bottom: 16%;
	left: 32%;
	width: 40%;
}

.home_navigation_text {
	position: relative;
	float: left;
	width: 100%;
	font-size: 230%;
	color: #4a5158;
	font-family: 'life_is_goofybold';
	font-weight: bold;
	text-align: center;
}

.home_navigation_btn {
	position: relative;
	margin: 3% auto 0 auto;
	width: 14%;
}

.home_navigation_btn img {
	margin: 0 3%;
	width: 46%;
}

.home_family_denatl_menu {
	position: fixed;
	top: 3%;
	right: -1%;
	/*top: 52%;
	 left: 32%;*/
	width: 9%;
	z-index: 999;
	font-family: 'life_is_goofybold';
	font-size: 1%;
	display: none;
	cursor: pointer;
}
.family_logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	padding: 17% 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 21%;
	background-image: url('../images/family_dental_logo.png');
	cursor: pointer;
}
.family_text {
	position: absolute;
	bottom: 12%;
	left: 0;
	width:90%;
	font-size: 155%;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-family: 'life_is_goofybold';
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}
.family_aerrow_right {
	position: absolute;
	top: 22%;
	left: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50%;
	padding: 13% 9%;
	background-image: url('../images/family_aerrow_right.png');
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}
.family_aerrow_left {

	position: absolute;
	top: 22%;
	left: 83%;
	background-image: url('../images/family_aerrow_left.png');
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}
/***About Section***/

.about_door {
	position: absolute;
	bottom: -5%;
	left: 7.5%;
	width: 14.7%;
	z-index: 9;

	-webkit-perspective: 500px;
	-o-perspective: 500px;
	-moz-perspective: 500px;
	-ms-perspective: 500px;
	perspective: 500px;
}

.about_door img {
	position: relative;
	float: left;
	width: 50%;
	margin: 0;
	padding: 0;
}

.about_close_door_shadow {
	position: absolute;
	bottom: 10%;
	left: 2.3%;
	width: 24.8%;
}

.about_open_door_shadow {
	position: absolute;
	bottom: 3%;
	left: 3%;
	width: 23.5%;
}

.about_doctor1 {
	position: absolute;
	bottom: 3%;
	left: 36%;
	width: 26%;
}
.newclass{

		position: absolute;
		bottom: 3%;
		left: 1%;
		width: 26%;
		z-index: 99;
}
.about_doctor {
	position: absolute;
	bottom: 3%;
	left: 3%;
	width: 26%;
	z-index: 99;
}

.about_doctor_1024 {
	width: 29% !important;
}

.about_light {
	position: absolute;
	top: 0;
	right: 11.2%;
	width: 7.8%;
	z-index: 9;
}

.about_bulb_shadow {
	position: absolute;
	top: 12%;
	right: 6%;
	width: 18%;
}

.about_dentistry {
	position: absolute;
	right: 5%;
	bottom: 11%;
	width: 19%;
	z-index: 99999;
}

.about_dentistry_1024 {
	right: 2.5% !important;
	width: 25% !important;
}

.about_dentistry_960 {
	right: 3% !important;
	width: 23.5% !important;
}

.about_bird {
	position: absolute;
	top: 6%;
	left: 6%;
	width: 28%;
	/*background-image: url('../images/about_wallbird.png');
	 background-repeat: no-repeat;
	 background-size: 80% 100%;
	 height: 75%;*/
}

.about_birdcage {
	position: absolute;
	bottom: 15%;
	left: 27%;
	width: 44%;
}

.doctor_big {
	visibility: hidden;
	left: 0.9%;
	/*width: 16.4%;
	 left: -9%;
	 bottom: 16.2%;
	 */
}

.about_destisty_text {
	position: absolute;
	top: 45%;
	left: 0;
	width: 93%;
	background-image: url('../images/about_blank.png');
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 9% 0;
	cursor: pointer;
	z-index: 999;
	visibility: hidden;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}








.about_destisty_text1 {
	position: absolute;
	top: 65%;
	left: 0;
	width: 93%;
	background-image: url('../images/about_blank.png');
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 9% 0;
	cursor: pointer;
	z-index: 999;
	visibility: hidden;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}





.about_destisty_text2 {
	position: absolute;
	top: 85%;
	left: 0;
	width: 93%;
	background-image: url('../images/about_blank.png');
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 9% 0;
	cursor: pointer;
	z-index: 999;
	visibility: hidden;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.about_me_text {
	position: absolute;
	top: 56%;
	left: 5%;
	width: 31%;
	background-image: url('../images/about_blank.png');
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 11% 0;
	cursor: pointer;
	z-index: 999;
	visibility: hidden;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.about_svg_container {
	position: absolute;
	top: 0%;
	left: 4.5%;
	width: 80%;
	height: 90%;
	visibility: hidden;
	z-index: 9999999;
}

.about_svg_container_960 {
	left: 0.1% !important;
}

.about_svg {
	position: relative;
	float: left;
	width: 60%;
	height: 90%;
}

.about_popup {
	position: absolute;
	top: 40.5%;
	left: 14%;
	width: 25%;
	height: auto;
	background-color: #fff;
	visibility: hidden;
}

.about_popup_container {
	position: absolute;
	top: 33.5%;
	left: 1%;
	width: 26%;
	height: 550px;
	overflow-y: scroll;
	background-color: #fff;
	padding: 1% 2% 1.5% 2%;
	color: #801a32;
}
.about_header_text {
	font-weight: bold;
}
.about_body_text {
	position: relative;
	float: left;
	width: 100%;
	margin: 6% 0 0 0;
	font-size: 100%;
	white-space: normal;
	font-family: 'quicksandregular';
	line-height: 125%;
	text-align: justify;
	font-weight: bold;
	-webkit-text-size-adjust: none;

}

.about_body_text:last-child {
        margin: 5% 0 5% 0;
 }








 .about_body_text1 {
 	position: relative;
 	float: left;
 	width: 100%;
 	margin: 6% 0 0 0;
 	font-size: 100%;
 	white-space: normal;
 	font-family: 'quicksandregular';
 	line-height: 125%;
 	text-align: justify;
 	font-weight: bold;
 	-webkit-text-size-adjust: none;

 }

 .about_body_text1:last-child {
         margin: 5% 0 5% 0;
  }
.about_dentisty_container {
	position: absolute;
	top: 0%;
	right: 10%;
	width: 90%;
	height: 98%;
	visibility: hidden;
	z-index: 999999;
}

.about_dentisty_container2 {
	position: absolute;
	top: 0%;
	right: 10%;
	width: 90%;
	height: 98%;
	visibility: hidden;
	z-index: 999999;
}
.about_dentisty_container1 {
	position: absolute;
	top: 0%;
	right: 10%;
	width: 90%;
	height: 98%;
	visibility: hidden;
	z-index: 999999;
}
.about_dentisty_container_1024 {
	right: 24% !important;
	width: 75% !important;
}

.about_dentisty_container_960 {
	right: 21.5% !important;
	width: 75% !important;
}

.about_svg_dentisty {
	position: relative;
	float: right;
	width: 55%;
	height: 70%;
}

.about_dentisty {
	position: absolute;
	bottom: 10%;
	right: 25%;
	width: 35%;
	height: 550px;
	overflow-y: scroll;
	background-color: #fff;
}






.about_dentisty1 {
	position: absolute;
	bottom: 10%;
	right: 25%;
	width: 35%;
	height: 350px;
	overflow-y: scroll;
	background-color: #fff;
}

.about_dentisty_content {
	position: relative;
	z-index: 8;
	float: left;
	width: 88%;
	height: 91%;
	padding: 1% 6% 6% 6%;
	color: #3a4573;
}




.about_dentisty_content1 {
	position: relative;
	float: left;
	width: 88%;
	height: 91%;
	padding: 1% 6% 6% 6%;
	color: #3a4573;
}

.popup_close {
	position: absolute;
	top: 1%;
	right: 3%;
	padding: 2.5%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 9;
}





.popup_close1 {
	position: absolute;
	top: 1%;
	right: 3%;
	padding: 2.5%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 9;
}



.popup_close2 {
	position: absolute;
	top: 1%;
	right: 3%;
	padding: 2.5%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 9;
}
.about_me {
	background-image: url('../images/close_dentisty.png');
	padding:3.5%;
}

.denstisty {
	background-image: url('../images/close_about.png');
}
.denstisty1 {
	background-image: url('../images/close_about.png');
}
.denstisty2 {
	background-image: url('../images/close_about.png');
}



.about_me:hover {
	background-image: url('../images/close_about.png');
}

.denstisty:hover {
	background-image: url('../images/close_dentisty.png');
}

.denstisty1:hover {
	background-image: url('../images/close_dentisty.png');
}

.about_overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999999;
	display: none;
	background-color: rgba(0,0,0,0.3);
}

.about_academic_text{
	position: relative;
    float: left;
    width: 100%;
    margin: 4% 0 0 0;
    font-size: 100%;
    white-space: normal;
    font-family: 'quicksandregular';
    line-height: 125%;
    text-align: justify;
    font-weight: bold;
    -webkit-text-size-adjust: none;
}

.about_doctor_aerrow{
	position: relative;
	float: left;
	width:7%;
 	font-weight: bold;
}
.about_doctor_title{
	position: relative;
	float: left;
	width:90%;
 }

/*********Contact Section ******/
.contact_doctor {
	position: absolute;
	bottom: 3%;
	right: 14%;
	width: 25%;
	z-index: 9;
}

.contact_board {
	position: absolute;
	bottom: 3%;
	left: 6%;
	width: 52%;
}

.contact_baby_top {
	position: absolute;
	top: 6%;
	right: 0;
	width: 8.5%;
}

.contact_baby_middle {
	position: absolute;
	top: 32%;
	right: 0;
	width: 9.5%;
}

.contact_baby_bottom {
	position: absolute;
	bottom: 16%;
	right: 0;
	width: 9%;
}

.contact_text_container {
	position: absolute;
	top: 4%;
	left: 0;
	width: 100%;
	height: 95%;
}
.new_contact_text_container {
	position: absolute;
	top: 4%;
	left: 0;
	width: 100%;
	height: 95%;
}


.contact_text_header {
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	font-size: 280%;
	color: #fff;
	font-family: 'life_is_goofybold';
	margin: 3% 0 0 0;
	line-height: 85%;
}

.contact_text_body_content {
	position: relative;
	float: left;
	width: 54%;
	margin: -2vw 0 0 7%;
}
.address_left {
    width:32%;
}
.contact_text_body_content:last-child {
	margin: 0% 0 0 3%;
}

.contact_text_body {
	position: relative;
	float: left;
	width: 85%;
	margin: 1.5% 1%;
	font-size: 83%;
	font-weight: normal;
	font-family: 'quicksandregular';
	color: #fff;
	letter-spacing: 0.03em;
	line-height: 85%;

}

.contact_text_subtitle_container {
	position: relative;
	float: left;
	width: 100%;
	margin: -4.9% 0 0 0;

}

.contact_text_subtitle {
	position: relative;
	float: left;
	width: 100%;
	font-size: 83%;
	font-weight: normal;
	font-family: 'quicksandregular';
	color: #fff;
	text-align: center;
	letter-spacing: 0.03em;
	line-height: 70%;
}

.contact_text_subtitle a {
	color: #fff;
	text-decoration: none;
}

.contact_text_subtitle a:hover {
	text-decoration: underline;
}

.contact_ph {
	background-image: url('../images/contact_ph.png');
	background-repeat: no-repeat;
	background-size: 100% 90%;
	padding: 1% 1.8%;
	background-position: 1% 100%;
}

.contact_mobile {
	background-image: url('../images/contact_mobile.png');
	background-repeat: no-repeat;
	background-size: 100% 75%;
	padding: 1% 1.8%;
	background-position: 1% 50%;
}

.contact_mail {
	background-image: url('../images/contact_email.png');
	background-repeat: no-repeat;
	background-size: 90% 90%;
	padding: 1% 1.8%;
	background-position: center center;
}

.contact_time {
	background-image: url('../images/contact_timing.png');
	background-repeat: no-repeat;
	background-size: 90% 90%;
	padding: 1% 1.6%;
	background-position: center center;
}

.phone {
	margin: 0 0 1.5% 0;
}

.time {
	margin: 0% 0 1.5% 0;
}

.time_text {
	line-height: 140%;
}
/****Management Section*******/
.management_board {
	position: absolute ;
	bottom: 14%;
	width: 24%;
	right: 3%;
    z-index:-1;
	/*backface-visibility: visible !important;
	-webkit-backface-visibility: visible !important;*/}

.management_lady_Lastleft {
	position: absolute;
	width: 8.5%;
	bottom: 10%;
	left: 3%;
	cursor: pointer;
}

.management_lady_secondleft {
	position: absolute;
	bottom: 6%;
	left: 12%;
	width: 16%;
	cursor: pointer;
}

.management_doctor_center {
	position: absolute;
	width: 15.5%;
	bottom: 2%;
	left: 28%;
	cursor: pointer;
}

.management_lady_secondright {
	position: absolute;
	bottom: 6%;
	left: 44%;
	width: 10%;
	cursor: pointer;
}

.management_lady_Lastright {
	position: absolute;
	width: 9.4%;
	bottom: 10%;
	left: 56%;
	cursor: pointer;
}

.management_text_container {
	position: absolute;
	top: 20%;
	left: 0;
	width: 100%;
	color: #3a4573;
	font-weight: normal;
}

.management_header {
	position: relative;
	float: left;
	width: 100%;
	font-family: 'life_is_goofybold';
	font-size: 330%;
	letter-spacing: 0.03em;
	text-align: center;
	margin: 0 0 2% 0;
	line-height: 100%;
}

.management_body {
	position: relative;
	float: left;
	width: 80%;
	white-space: normal;
	margin: 0 10%;
}

.management_aerrow {
	position: relative;
	float: left;
	width: 10%;
	font-size: 300%;
	font-family: 'life_is_goofybold';
	/*line-height: 90%;
	 font-family: 'life_is_goofybold';*/
}

.management_text_body {
	position: relative;
	float: left;
	width: 82%;
	margin: 0 0 0 8%;
	font-size: 202%;
	letter-spacing: 0.03em;
	line-height: 110%;
	font-family: 'life_is_goofybold';
	/*position: relative;
	 float: left;
	 width: 80%;
	 margin: 0 0 0 8%;
	 font-size: 140%;
	 letter-spacing: 0.03em;
	 line-height: 135%;
	 font-family: 'quicksandregular';
	 font-weight: bold;*/
}
/*******Management popup****/
.svgpopup_container{
	position: relative !important;
	margin:0 auto;
	width:100%;
	opacity:1 !important;
	font-family: 'quicksandregular';
	display:block;
    padding:0 !important;

}
.svgpopup_header{
	position: relative !important;
	float: left;
	opacity:1 !important;
	width:100%;
	display:block;
	padding:12% 0 0 0 !important;


}
.svgpopup_body{
	position: relative !important;
	float: left;
	opacity:1 !important;
	width: 93%;
	font-size: 60%;
	color: #fff;
	line-height: 140%;
    margin: 2% 0 0 0;
    text-align: justify;
    display:block;
    padding:0 !important;

}
.svgpopup_body p {
    margin: 10px 0;
}
.svgpopup_body span{
		font-family: 'life_is_goofybold';
}
.svgpopup_image{
	position: relative !important;
	width:12%;
	padding:0 !important;
	opacity:1 !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display:inline-block;
    /*visibility:hidden;*/
    vertical-align: bottom;
}
.svgpopup_position{
	position:relative !important;
	width: 75%;
	padding:0 !important;
	opacity:1 !important;
	margin:0 0 0 2%;
    font-size: 150%;
    height: 100%;
    display:inline-block;
    vertical-align: bottom;
      text-align: left;
      /*visibility:hidden;*/
     -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.svgpopup_headertxt{
	position: relative !important;
	float: left;
	opacity:1 !important;
	width:100%;
	font-size: 220%;
	color:#fff;
	letter-spacing:0.02em;
	display:block;
	font-family: 'life_is_goofybold';
	padding:0px 0 0 0 !important;
}
.svgpopup_titletxt{
	position: relative !important;
	float: left;
	width:100%;
	font-size: 100%;
	color:#fff;
	letter-spacing: 0.02em;
	margin:0% 0 0 0;
	display:block;
	opacity:1 !important;
	font-family: 'life_is_goofybold';
}
.doctor_hover_overlay{
	position: absolute ;
	top:100%;
	left:0;
	bottom:0;
	width:100%;
	height:135%;
	cursor:pointer;
	background-color: transparent;

}
.svg_bold{
	font-weight: bold;
	    font-family: 'life_is_goofybold';
    font-size: 175%;
    letter-spacing: 0.04em;
}
.vidhi_svg{
	width:16%;
}
.meet_svg{
	width:15%;
}
.samta_svg{
	width:13%;
}
.vidhi_svg img{
	max-width: 100%;
	max-height: 100%;
}
.vidhi_svg_text{
	width:72%;
}
/****Photo Gallery*****/
.gallery_lamp {
	position: absolute;
	width: 9%;
	bottom: 6%;
	right: 3%;
}

.gallery_desk {
	position: absolute;
	width: 12%;
	bottom: 8%;
	left: 3%;
	z-index: 8;
}

.gallery_doctor {
	position: absolute;
	width: 20%;
	bottom: 9%;
	left: 6%;
}

.gallery_projector {
	position: absolute;
	width: 10.5%;
	top: 0%;
	right: 39.8%;
	z-index: 99;
}

.gallery_projector_light {
	position: absolute;
	top: 13%;
	right: 15%;
	width: 59%;
	z-index: 98;
}

.gallery_screen {
	position: absolute;
	top: 21.5%;
	right: 15%;
	width: 59.7%;
	z-index: 99;
}

.gallery_table {
	position: absolute;
	width: 55%;
	bottom: 0%;
	right: 17%;
}

.gallery_doctors {
	position: absolute;
	width: 47%;
	bottom: -6%;
	right: 21%;
	z-index: 99999;
}

.gallery_logo {
	position: absolute;
	top: 29%;
	width: 23%;
	left: 38%;
}

.gallery_text {
	position: absolute;
	top: 50%;
	text-align: center;
	width: 100%;
	left: 0%;
	font-size: 280%;
	font-family: 'life_is_goofybold';
	color: #d5aec1;
	font-weight: normal;
	white-space: normal;
	line-height: 75%;
}

.Gallery_Image_container {
	position: absolute;
	top: 2%;
	left: 1.3%;
	width: 97%;
}

.navigation {
	position: absolute;
	top: 45%;
	left: 0%;
	width: 100%;
	z-index: 999;
	opacity: 0;
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.Gallery_Image_container:hover .navigation {
	opacity: 1;
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.gallery_next {
	position: absolute;
	top: 0%;
	right: 0;
	padding: 3%;
	background-image: url('../images/next.png');
	background-repeat: no-repeat;
	background-size: 50% 100%;
	cursor: pointer;
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.gallery_next:hover {
	background-image: url('../images/next_hover.png');
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.gallery_prev {
	position: absolute;
	top: 0;
	left: 2.5%;
	padding: 3%;
	background-image: url('../images/prev.png');
	background-repeat: no-repeat;
	background-size: 50% 100%;
	cursor: pointer;
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.gallery_prev:hover {
	background-image: url('../images/prev_hover.png');
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.gallery_overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 9;
}

.gallery_image_overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 50%;
	background-color: rgba(255,255,255,0.3);
	z-index: 9;
}
/***Facility Section*****/
.facilities_board {
	position: absolute;
	top: 0;
	left: 7%;
	width: 30%;
}

.facility_table {
	position: absolute;
	bottom: 0;
	left: 7%;
	width: 32%;
}

.facility_single_table {
	position: relative;
	float: left;
}

.bottle {
	position: relative;
	width: 70%;
	margin: 0 auto;
}

.bottle img {
	width: 14%;
	margin: 0 2% -1% 0;
	cursor: pointer;
}

.active_bottle {
	-webkit-transform: scale(1.3) !important;
	-moz-transform: scale(1.3) !important;
	-ms-transform: scale(1.3) !important;
	-o-transform: scale(1.3) !important;
	transform: scale(1.3) !important;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.bottle_text {
	position: relative;
	float: left;
	width: 70%;
	margin: 0 15%;
	color: #2d787b;
	font-family: 'life_is_goofybold';
	display: none;
}

.bootle_text_header {
	position: relative;
	float: left;
	width: 100%;
	font-size: 210%;
	margin: 2% 0;
	white-space: normal;
}

.bottle_text_body {
	position: relative;
	float: left;
	width: 100%;
	font-size: 125%;
	white-space: normal;
	margin: 1% 0;
	line-height: 80%;
}

.bottle_aerrow {
	position: relative;
	float: left;
	width: 10%;
}

.bottle_body {
	position: relative;
	float: left;
	width: 90%;
}

.show_bottle_text {
	display: block;
}

.facility_text_container {
	position: absolute;
	top: 27%;
	left: 0;
	width: 100%;
	line-height: 180%;
}

.facility_text {
	position: relative;
	float: left;
	width: 98%;
	margin: 0 0 0 1%;
	text-align: center;
	color: #48beca;
	font-size: 310%;
	text-transform: uppercase;
	font-family: 'life_is_goofybold';
	font-weight: bold;
}

.facility_stand {
	position: absolute;
	bottom: 1%;
	right: 7%;
	width: 27%;
}

.facility_table_big {
	position: absolute;
	bottom: 0;
	right: 27%;
	width: 11%;
}

.facility_doctor {
	position: absolute;
	bottom: 0.2%;
	right: 6.4%;
	width: 45%;
}
/*****FAQ Section*****/
.slider_desktop {
	display: block;
}

.slider_mobile {
	display: none !important;
}

.faq_family {
	position: absolute;
	bottom: 5%;
	width: 27%;
	left: 7%;
}

.faq_cloud {
	position: absolute;
	top: 23%;
	left: 30%;
	width: 14%;

}

.faq_text_container {
	position: absolute;
	top: 34%;
	left: 0;
	width: 100%;
}

.faq_text {
	position: relative;
	float: left;
	width: 98%;
	margin: 0 0 0 2%;
	text-align: center;
	color: #48beca;
	font-size: 450%;
	text-transform: uppercase;
	font-family: 'life_is_goofybold';
	font-weight: bold;
	line-height: 80%;
}

.text_small {
	text-transform: lowercase;
}

.faq_board {
	position: absolute;
	top: 0;
	right: 9%;
	width: 41%;
    -webkit-transform: translate3d(0, 0, 0);
	 -webkit-tap-highlight-color:transparent;
	backface-visibility: visible !important;
	-webkit-backface-visibility: visible !important;
}

.faq_slider_text_container {
	position: absolute;
	top: 10%;
	left: 3%;
	width: 95%;
}

.faq_slider_body_container {
	position: relative;
	float: left;
	width: 90%;
	margin: 2% 5%;
	color: #36596d;
	font-family: 'life_is_goofybold';
	white-space: normal;
}

.faq_slider_bodyQ {
	position: relative;
	float: left;
	width: 100%;
	margin: 0% 0;
	font-size: 180%;
	font-weight: bold;
	letter-spacing: 0.01em;
}

.faq_slider_bodyA {
	position: relative;
	float: left;
	width: 100%;
	margin: 0% 0 4% 0;
	letter-spacing: 0.01em;
}

.question {
	position: relative;
	float: left;
	width: 4%;
	line-height: 80%;
}

.answer {
	position: relative;
	float: left;
	width: 4%;
	font-size: 160%;
	line-height: 90%;
}

.question_text {
	position: relative;
	float: left;
	width: 96%;
	line-height: 80%;
}

.answer_text {
	position: relative;
	float: left;
	width: 96%;
	font-size: 98%;
	line-height: 135%;
	font-weight: bold;
	font-family: 'quicksandregular';
}
/******Emergency Section*******/
.emergency_Door {
	position: absolute;
	bottom: 13.8%;
	right: 9%;
	width: 31%;
	z-index: 999;
}

.emergency_door_shadow {
	position: absolute;
	bottom: 7%;
	right: 3.5%;
	width: 41.5%;
}

.emergency_nurse {
	position: absolute;
	bottom: 4%;
	left: 5%;
	width: 50%;
}

.emergency_teeth {
	position: absolute;
	bottom: 8.5%;
	left: 31%;
	width: 34%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: -1;
	backface-visibility: hidden !important;
	-webkit-backface-visibility: hidden !important;
}

.emergency_teeth_shadow {
	position: absolute;
	bottom: 8.5%;
	left: 33%;
	width: 34%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: -2;
}

.emergency_light {
	position: absolute;
	top: 12%;
	right: 17%;
	width: 15%;
}

.emergency_text_operation {
	position: absolute;
	bottom: 7%;
	left: 0;
	width: 100%;
}

.operation_text {
	position: relative;
	float: left;
	width: 100%;

	text-align: center;
	font-size: 230%;
	color: #000;
	font-family: 'life_is_goofybold';
	font-weight: bold;
	line-height: 100%;
}

.emergency_text_door {
	position: absolute;
	top: 16%;
	left: 16%;
	width: 94%;
}

.emergency_door_container {
	position: relative;
	float: left;
	width: 86%;
	color: #2a4e64;
	font-weight: bold;
	font-family: 'life_is_goofybold';
	white-space: normal;
}

.door_text {
	position: relative;
	float: left;
	width: 100%;
	margin: 0;
	font-size: 250%;
	line-height: 80%;
}

.emer_aerrow {
	position: relative;
	float: left;
	width: 9%;
	/*font-family: 'life_is_goofybold';
	 font-size: 170%;*/
}

.emmer_text {
	position: relative;
	float: left;
	width: 84%;
	/*font-family: 'quicksandregular';
	 font-size: 130%;*/
}
/*****Feedback Section******/

.feedback_shelf {
	position: absolute;
	top: 25%;
	left: 0;
	width: 50%;
	z-index: 9;
	-webkit-tap-highlight-color:transparent;
		backface-visibility: hidden !important;
	-webkit-backface-visibility: hidden !important;
}

.feedback_computer {
	position: absolute;
	bottom: 12%;
	left: 7%;
	width: 25%;
	-webkit-tap-highlight-color:transparent;
		backface-visibility: hidden !important;
	-webkit-backface-visibility: hidden !important;
}

.feedback_board {
	position: absolute;
	right: 5%;
	bottom: 13.8%;
	width: 27%;
	-webkit-tap-highlight-color:transparent;
	backface-visibility: hidden !important;
	-webkit-backface-visibility: hidden !important;
}

.feedback_line_book1 {
	position: absolute;
	top: 34.5%;
	width: 9%;
	left: 2%;
	-webkit-tap-highlight-color:transparent;
		backface-visibility: hidden !important;
	-webkit-backface-visibility: hidden !important;
}

.feedback_line_book2 {
	position: absolute;
	top: 26%;
	width: 8%;
	left: 13%;
	-webkit-tap-highlight-color:transparent;
		backface-visibility: hidden !important;
	-webkit-backface-visibility: hidden !important;
}

.feedback_line_book3 {
	position: absolute;
	top: 27.5%;
	width: 4.5%;
	left: 22.2%;
	-webkit-tap-highlight-color:transparent;
		backface-visibility: hidden !important;
	-webkit-backface-visibility: hidden !important;
}

.feedback_line_book4 {
	position: absolute;
	top: 19.4%;
	width: 7%;
	left: 28.7%;
		backface-visibility: hidden !important;
	-webkit-backface-visibility: hidden !important;
}

.feedback_line_book5 {
	position: absolute;
	top: 19%;
	width: 11%;
	left: 38%;
	-webkit-tap-highlight-color:transparent;
		backface-visibility: hidden !important;
	-webkit-backface-visibility: hidden !important;
}

.feedback_apple {
	position: absolute;
	bottom: 15%;
	left: 7%;
	width: 3.3%;
	-webkit-tap-highlight-color:transparent;
		backface-visibility: hidden !important;
	-webkit-backface-visibility: hidden !important;
}

.feedback_computer_book {
	position: absolute;
	bottom: 15%;
	left: 21.5%;
	width: 9.5%;
	-webkit-tap-highlight-color:transparent;
		backface-visibility: hidden !important;
	-webkit-backface-visibility: hidden !important;
}

.feedback_form_container {
	position: absolute;
	top: 12%;
	left: 2%;
	width: 95%;
	font-weight: bold;
	font-family: 'life_is_goofybold';
		backface-visibility: hidden !important;
	-webkit-backface-visibility: hidden !important;
}

.feedback_form_header {
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	font-size: 240%;
	color: #e6c14f;
	margin: 0 0 5% 0;
	line-height: 75%;
		backface-visibility: hidden !important;
	-webkit-backface-visibility: hidden !important;
}

.feedback_form_text_content {
	position: relative;
	float: left;
	width: 100%;
	margin: 2% 0;
}

.feedback_form_text {
	position: relative;
	float: left;
	width: 30%;
	font-size: 200%;
	color: #e6c14f;
	line-height: 75%;
}

.feedback_form_input {
	position: relative;
	float: left;
	width: 64%;
	margin: 0 0 0 5%;
	font-size: 240%;
	color: #e6c14f;
}

.feedback_form {
	position: relative;
	float: left;
	width: 85%;
	margin: 1% 6%;
}

.form_input {
	position: relative;
	outline: none !important;
	font-size: 68%;
	color: #666;
	width: 98%;
	font-family: 'quicksandregular';
	max-width: 98%;
	padding: 2%;
	background: #94ad73;
	border: none;
	color: #2d4551;
	line-height: 75%;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.textarea_font {
	font-size: 50%;
	font-style: normal;
	padding: 5% 4% 2% 4%;
	width: 94%;
	max-width: 94%;
	resize: none;
	border-radius: none;
}

.form_submit {
	position: relative;
	width: 32%;
	font-size: 170%;
	color: #478e6c;
	margin: 5% 33% 0 33%;
	background-color: #e6c14f;
	border: none;
	cursor: pointer;
	text-align: center;
	padding: 2% 0% 0% 0%;
	font-family: 'life_is_goofybold';
	box-shadow: 2px 2px 10px #000;
	border-radius: 2px;
	-moz-appearance: none;
	-webkit-appearance: none;
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
	line-height: 75%;
}

.feedback_text {
	position: absolute;
	top: 12%;
	left: 0;
	width: 67%;
	text-align: center;
	font-size: 400%;
	font-family: 'life_is_goofybold';
	font-weight: bold;
	color: #e6c14f;
	line-height: 75%;
}

.form_submit:hover {
	color: #e6c14f;
	background-color: #2d4551;
	-webkit-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.aboutsection_margin {
	margin: 0 0 0 -0.4%;
}

/****Family dental care******/
.family_dental_container {
	position: fixed;
	top: 0;
	left: 0%;
	display:none;
	width: 100%;
	height: 100%;
 	display:none;
	z-index: 9;
	font-size: 1%;
}

.family_grandparent_image {
	position: absolute;
	bottom: 5%;
	left: 5%;
	width: 33%;
	cursor: pointer;
	z-index: 1;
	visibility: hidden;
}
.family_parent_image {
	position: absolute;
	bottom: 5%;
	left: 41%;
	width: 30%;
	cursor: pointer;
	z-index: 0;
	visibility: hidden;
}
.family_children_image {
	position: absolute;
	bottom: 5%;
	right: 2%;
	width: 25%;
	cursor: pointer;
	z-index: 0;
	visibility: hidden;
}
.family_dental_overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
	cursor: pointer;
	visibility: hidden;
}
.family_grandparent_svg {
	position: absolute;
	top: 0%;
	left: 10%;
	width: 60%;
	height: 58%;
	z-index: 12;
	cursor: pointer;
	visibility: hidden;
}
.opacity_family {
	z-index: 0;
}
.family_parent_svg {
	position: absolute;
	top: 0%;
	right: 0%;
	width: 60%;
	height: 80%;
	z-index: 12;
	cursor: pointer;

}
.parent_svg {
	position: absolute;
	top: 0%;
	right: 0%;
	width: 60%;
	height: 80%;
	z-index: 1;
	cursor: pointer;
}
.family_children_svg {
	position: absolute;
	top: 0%;
	right: 0%;
	width: 60%;
	height: 80%;
	z-index: 12;
	cursor: pointer;
}
.children_svg {
	position: absolute;
	top: 0%;
	right: 0%;
	width: 60%;
	height: 80%;
	z-index: 12;
	cursor: pointer;

}
.family_svg {
	position: relative;
	float: left;
	width: 60%;
	height: 90%;
}
.family_popup_container {
	position: absolute;
	top: 4%;
	right: 0;
	width: 46%;
	height: auto;
	background-color: #fff;
	padding: 0% 2% 2.5% 2%;
	color: #801a32;
	cursor: auto;

}
.family_parent_popup {
	left: 0;
}
.family_close {
	position: absolute;
	top: 2%;
	right: 1%;
	padding: 2.5%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 9;
}
.family_header {
	position: relative;
	float: left;
	width: 100%;
	color: #81233d;
	font-size: 220%;
	margin: 5% 0;
	text-align: center;
	font-weight: bold;
	font-family: 'life_is_goofybold';
	-webkit-text-size-adjust: none;
}
.family_subtitle {
	position: relative;
	float: left;
	width: 90%;
	margin: 0 5%;
	color: #81233d;
	-webkit-text-size-adjust: none;
}
.family_aerrow {
	position: relative;
	float: left;
	width: 5%;
	font-weight: bold;
	font-family: 'quicksandregular';
}
.family_title {
	position: relative;
	float: left;
	width: 90%;
	font-size: 90%;
	font-weight: bold;
	font-family: 'quicksandregular';
	color: #710E2A;
}
.family_body {
	position: relative;
	float: left;
	width: 80%;
	margin: 0% 0 0 20%;
	font-size: 80%;
	white-space: normal;
	font-family: 'quicksandregular';
	text-align: justify;
	font-weight: bold;
	-webkit-text-size-adjust: none;

}
.family_main_close {
	position: absolute;
	top: 2%;
	right: 1%;
	padding: 1%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 9;
	background-image: url('../images/close_dentisty.png');
}
.family_clock{
	position: absolute;
	float: left;
	width:10%;
	top:5%;
	left: 5%;
	visibility: hidden;
}
.family_index{
	z-index:1;
}
/*FireFox Css*/
@-moz-document url-prefix() {
	.answer_text{
		line-height: 100%;
	}
}
